<?xml version="1.0"?>
<configuration>
<system.webServer>
  <rewrite>
    <rules>    
      <rule name="Reverse Proxy to 3rd party Api" stopProcessing="true">
        <match url="^api/(.*)" />
        <action type="Rewrite" url="https://gist.githubusercontent.com/medibank-digital/a1fc81a93200a7b9d5f8b7eae0fac6f8/raw/de10a4fcf717e6c431e88c965072c784808fd6b2/{R:1}" />
      </rule>
      <rule name="React Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="/index.html" />
      </rule>
    </rules>
  </rewrite>
</system.webServer>
</configuration>