#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ownersList {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.ownerContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px 0px;
}

.petContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
}

.ownerDetails {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.owner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 10px; */
  background-color: lightgrey;
  width:22%;
  border-radius: 10px;  
}

.ownerHeading {
  font-size: 16px;
  font-weight: bold;
  background-color: #F97316;
  color: white;
  text-align: center;
  width: 100%;
}

.owner:first-child {
  margin-top: 0px;
}

.owner:last-child {
  margin-bottom: 0px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.bigText {
  font-size: 18px;
  font-weight: bold;
}

.mediumText {
  font-size: 16px;
  font-weight: bold;
}

.smallText {
  font-size: 14px;
  font-weight: normal;
}

.alignLeft {
  text-align: left;
}

.loadingSpinner {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50px;
  width: 50px;
}


@media (min-width:480px)  { 
  .owner {
    width:100%;
  }
}

@media (min-width:600px)  { 
  .owner {
    width:45%;
  }
}

@media (min-width:801px)  { 
  .owner {
    width:22%;
  }
}