#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.appContainer {
  display: flex;
  flex-direction: column;
  outline: 1px solid #fba061;  
}

.header {
  background-color: #F97316;
  color: white;
  display: flex;
  gap: 1.25rem;
}

.header a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 1.25rem;
  display: inline-block;
  transition: all 500ms ease-in-out;
}

.header a:hover {
  background-color: #000;
  color: white;
}

.active {
  background-color: #000;
  color: white;
}

.bodyContainer {
  padding: 1.25rem;
  min-height: 500px;
}

.ownersList {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.ownerContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0.625rem 0px;
}

.petContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0.625rem;
}

.ownerDetails {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.owner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #e6e6e6;
  width:22%;
  border-radius: 0.625rem;
  box-shadow: 0.125rem 0.125rem 0.625rem #e6e6e6;
}

.ownerHeading {
  font-size: 1rem;
  font-weight: bold;
  background-color: #fba061;
  color: white;
  text-align: center;
  width: 100%;
  padding: 0.3125rem 0;
}

.owner:first-child {
  margin-top: 0px;
}

.owner:last-child {
  margin-bottom: 0px;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
}

.bigText {
  font-size: 1.125rem;
  font-weight: bold;
}

.mediumText {
  font-size: 1.125rem;
  font-weight: bold;
}

.smallText {
  font-size: 0.875rem;
  font-weight: normal;
}

.alignLeft {
  text-align: left;
}

.loadingSpinner {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 3.125rem;
  width: 3.125rem;
}

.errorContainer {
  color: red;  
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3125rem;
}

.homeItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3125rem;
}

.homeItem {
  text-align: left;
}

@media (min-width:20em)  { 
  .owner {
    width:100%;
  }
}

@media (min-width:38em)  { 
  .owner {
    width:45%;
  }
}

@media (min-width:50em)  { 
  .owner {
    width:22%;
  }
}