#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ownersList {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.ownerContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0.625rem 0px;
}

.petContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0.625rem;
}

.ownerDetails {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.owner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: lightgrey;
  width:22%;
  border-radius: 0.625rem;
}

.ownerHeading {
  font-size: 1rem;
  font-weight: bold;
  background-color: #F97316;
  color: white;
  text-align: center;
  width: 100%;
}

.owner:first-child {
  margin-top: 0px;
}

.owner:last-child {
  margin-bottom: 0px;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
}

.bigText {
  font-size: 1.125rem;
  font-weight: bold;
}

.mediumText {
  font-size: 1.125rem;
  font-weight: bold;
}

.smallText {
  font-size: 0.875rem;
  font-weight: normal;
}

.alignLeft {
  text-align: left;
}

.loadingSpinner {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 3.125rem;
  width: 3.125rem;
}

.errorContainer {
  color: red;  
}

@media (min-width:30em)  { 
  .owner {
    width:100%;
  }
}

@media (min-width:38em)  { 
  .owner {
    width:45%;
  }
}

@media (min-width:50em)  { 
  .owner {
    width:22%;
  }
}